version: "3.8"

services:
  sql1:
    build: .
    container_name: sql1
    env_file:
      - .env
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    networks:
      - mssql_net
    volumes:
      - mssql_shared:/shared

  sql2:
    build: .
    container_name: sql2
    env_file:
      - .env
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_PID=Developer
    ports:
      - "1434:1433"
    networks:
      - mssql_net
    volumes:
      - mssql_shared:/shared

networks:
  mssql_net:
    driver: bridge

volumes:
  mssql_shared:
